<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>

</head>
<body>
<div align="center">
    <h1>Todo List</h1>
    <div>
        <form action="{{ url_for('index') }}" method="POST">
            <input type="text" name="task">
            <input type="submit" value="Add Item" class="button" style="background:#3630a3;color:white;">
        </form>
    </div>
<br><br>
    <div class="row">
        <div class="col">
            {% if todos | length < 1 %}
            <h4 style="text-align: center">You have on tasks! 🎉</h4>
            {% else %}
            <table class="table table-striped text-center" cellspacing="5" cellpadding="5" border="1">
                <thead>
                <tr>
                    <th>Task</th>
                    <th>Completed</th>
                    <th>Actions</th>
                </tr>
                </thead>
                {% for todo in todos %}
                <tr>
                    <td>{{ todo.task }}</td>
                    {% if todo.completed %}
                    <td>🏁</td>
                    <td>🗑</td>

                    {% else %}
                    <td>❌</td>
                    <td>✔<br>🗑</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>
    </div>
</body>
</html>